<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Social</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet'
          type='text/css'/>
    <link href="/css/lato.css" rel='stylesheet' type='text/css'/>

    <link href="/css/main.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>

    <style>
        body {
            font-family: 'Lato';
        }

    </style>
</head>
<body>
<nav class="navbar navbar-fixed-top" style="background-color: #3F51B5;">
<div class="container" style="background-color: #3F51B5;">
    <div class="navbar-header" style="background-color: #3F51B5;">

        <a class="navbar-brand" href="/"><img src="/img/facebook-plus-icon.png" alt="icon"/></a>
    </div>

    <div class="collapse navbar-collapse" id="app-navbar-collapse" style="background-color: #3F51B5;">
        <!-- Left Side Of Navbar -->


        <!-- Right Side Of Navbar -->
    </div>
</div>
</nav>
    <div class="">

        <div class="container site-content" layout:fragment="content">

        </div><!-- end of .container -->

    </div>





<div class="row">
    <!-- Footer -->
    <footer class="site-footer" layout:fragment="footer" style="padding: 4px; margin-left:5px">
        <div class="container">
            <p>&copy; Katarzyna Buszewicz 2017</p>
        </div>
    </footer>
</div>


<th:block layout:fragment="scripts">
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</th:block>
</body>
</html>