<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="master">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Social</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet'
          type='text/css'/>
    <link href="/css/lato.css" rel='stylesheet' type='text/css'/>

    <link href="/css/main.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>

    <style>
        body {
            font-family: 'Lato';
        }

    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="col-md-3">

        <div class="card">

            <div class="card-content">

                <h3>Witaj!</h3>
                <div style="text-align: center;">
                    <img src="/img/message.jpg" alt="icon"/>
                </div>
                <br>Co słychać?</br>

            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <h2>Wiadomości</h2>
                </div>
            </div>

            <div class="card">

                <div class="card-content">
                    <form class="form-horizontal" th:action="@{/wall}" th:object="${post}" method="post">
                        <input type="textarea" id="postContent" name="postContent" th:value="*{postContent}" />
                        <button onClick="" class="btn btn-default">Wyślij</button>
                    </form>
                </div>
            </div>

            <div th:if="${posts != null}">
                <div th:each="post : ${posts}" class="card">
                    <div class="card-content">
                        <p th:text="${post.getPostContent()}"></p><br/>
                        <p th:text="${post.getPublicationDate()}"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-4">

        <div class="card">

            <div class="card-content">
                <h2>Lista użykowników</h2>
            </div>
        </div>
    </div>


</div>


</body>
</html>